


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f5;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #160569;
    color: white;
    text-align: center;
    padding: 30px; 
    margin-bottom: 20px;
}



nav {
    background-color: #333;
    margin-bottom: 20px; 
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
}

nav ul li {
    margin: 0 15px; 
    
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px; 
    
    display: block;
    border-radius: 5px; 
    
}

nav ul li a:hover {
    background-color: #555;
}


main {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}


section {
    background-color: white;
    padding: 20px;   
    margin-bottom: 20px; 
    border: 1px solid #ccc; 
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}
h1, h2, h3 {
    margin: 10px 0;
}
ul {
    padding-left: 20px; 
}

ul li {
    margin-bottom: 5px;
}


